*{
	/* font-family: sans-serif; */
	box-sizing: border-box;
}
body{
	background-color: rgb(255, 255, 255);
	-ms-overflow-style: none;
    scrollbar-width: none; 
}
body::-webkit-scrollbar{
    display: none;
}
#about{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 700px;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(150,150,150) 2px 2px 30px;
    text-align: center;
}
#about-content{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border-bottom: 2px solid red;
}
#about>address{
    margin-top: 20px;
    font-style: italic;
    font-size: 15pt;
    color: steelblue;
}